<template name="postSite">
<form class="main">
  <div class="submitContext">
    <div class="control-group">
        <label class="control-label" for="title">作者：</label>
        <div class="controls">
            <input name="author" type="text" value="" class="title" placeholder="作者"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="title">地址：</label>
        <div class="controls">
            <input name="url" type="text" value="" class="title" placeholder="地址"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="content">内容：</label>
        <div class="controls">
            <input name="content" type="text" value="" class="title" placeholder="内容"/>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="添加文章" class="btn btn-primary"/>
        </div>
    </div>
    </div>
  </form>
</template>