<template name="postSubmit">
  <form class="main">
  <h4 class="editSubmit">发表文章</h4>
  <div class="submitContext">
    <div class="control-group">
        <label class="control-label" for="title">标题：</label>
        <div class="controls">
            <input name="title" type="text" value="" class="title" placeholder="输入标题..."/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="content">内容：</label>
        <div class="controls">
            <textarea name="content" class="md" type="text" value=""></textarea>
        </div>
    </div> 

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="发布文章" class="btn btn-primary"/>
        </div>
    </div>
    </div>
  </form>
  <div class="markdown">
      {{#markdown}}{{{markdown_data}}}{{/markdown}}
  </div>
</template>