<template name="root">
<div class="root-admin">
	<form class="main">
    	<div class="control-group">
        <label class="control-label" for="title">密码：</label>
        <div class="controls">
            <input name="password" type="password" value="" class="title" placeholder="请输入密码"/>
        </div>
    	</div>
    	<div class="control-group">
        <div class="controls">
            <input type="submit" value="登录管理" class="btn btn-primary"/>
        </div>
    </div>
	</form>
</div>
</template>